tr[id~=":div:bottom"] td {
    border-bottom: 4px double var(--lt-color-border-dark) !important;
}

tr[id~=":div:top"] td {
    border-top: 4px double var(--lt-color-border-dark) !important;
}

tr[id~=":header"] td, td[id~=":header"] {
    background-color: var(--wh-color-backlight-secondary) !important;
    font-weight: 610;
}

.toc li[data-toc-scroll~=":link"]::before {
    content: "🔗";
    position: absolute;
    left: 5px;
    padding-top: 7px;
    font-size: 1.3em;
}

.toc li[data-toc-scroll="Welcome"]::before {
    content: "🏠";
    position: absolute;
    left: 5px;
    padding-top: 7px;
    font-size: 1.3em;
}

.toc li[data-toc-scroll~=":link"] a::after {
    content: "";
    margin-left: 0;
}

.toc li[data-toc-scroll~=":div:bottom"] {
    border-bottom: 1px solid var(--lt-color-border-dark) !important;
    margin-bottom: 22px;
    padding-bottom: 22px;
}

.toc li[data-toc-scroll~=":div:top"] {
    border-top: 1px solid var(--lt-color-border-dark) !important;
    margin-top: 22px;
    padding-top: 22px;
}
